body {
    display: flex;
    justify-content: space-around;
}

#boks1 {
    border: 1px, solid, black;
    height: 100vh;
    width: 25%;
}
#boks2 {
    border: 1px, solid, black;
    height: 100vh;
    width: 40%;
}
#boks3 {
    border: 1px, solid, black;
    height: 100vh;
    width: 25%;
}