body {
    margin: 0;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    overflow-x: hidden;
}

#søkefelt {
    width: 100%;
}

#søkeboks {
    display: flex;
    border: 1px, solid, black;
    height: 3em;
}
#søkeknapp {
    width: 20%;
    height: 100%;
}
#logo {
    width: auto;
    height: 75px;
}

#logo:hover {
    opacity: 0.75;
}

#hoved{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 99vh;
}

#profil {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px, solid, black;
    height: 100%;
    width: 60%;
}
#stein {
    border: 1px, solid, black;
    height: 100%;
    width: 100%;
}
#sok {
    display: flex;
    flex-direction: column;
    border: 1px, solid, black;
    height: 100%;
    width: 70%;
}
#profil-instillinger{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 80px;
}
#profil-instillinger button{
    border-radius: 4px;
    width: 80%;
    height: 5%;
}
<<<<<<< HEAD
#profil-instillinger button:hover{
    transform: scale(1.02);
=======
#stein-samling{
    height: 100%;
}
#leggtilKnapp {
    width: 100%;   
    height: 4em;
>>>>>>> b70be9dd9530b5cc98be94808ef66a63b5f74dfc
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid black;
    margin-bottom: 20px;
    padding: 20px;
}
